@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --animate-bounce-custom: bounce-custom 2s ease-in-out infinite;
  @keyframes bounce-custom {
    0%,
    100% {
      transform: translateY(4px);
    }
    50% {
      transform: translateY(-2px);
    }
  }

  --breakpoint-xs: 425px;

  --color-primary-bg: #0076d2ff;
  --color-primary-foreground: #fff;
}

@layer components {
  .responsive-text {
    @apply text-xs xs:text-sm;
  }
}
