@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --animate-bounce-custom: bounce-custom 2s ease-in-out infinite;
  @keyframes bounce-custom {
    0%,
    100% {
      transform: translateY(4px);
    }
    50% {
      transform: translateY(-2px);
    }
  }

  --color-primary: #0076D2FF;
  --color-primary-foreground: #FFF;
}
