@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --animate-bounce-custom: bounce-custom 2s ease-in-out infinite;
  @keyframes bounce-custom {
    0%,
    100% {
      transform: translateY(4px);
    }
    50% {
      transform: translateY(-2px);
    }
  }

  --animate-bounce-up-custom: bounce-up-custom 1s ease-in-out;
  @keyframes bounce-up-custom {
    0%,
    100% {
      /* transform: translateX(4px); */
      opacity: 1;
    }
    50% {
      transform: translateY(-8px);
      opacity: 0.5;
    }
  }

  --breakpoint-xs: 425px;

  --color-primary-bg: #0076d2ff;
  --color-primary-foreground: #fff;
  --color-card: white;

  --color-sidebar: hsl(0 0% 98%);
  --color-sidebar-foreground: hsl(240 5.3% 26.1%);
  --color-sidebar-primary: hsl(240 5.9% 10%);
  --color-sidebar-primary-foreground: hsl(0 0% 98%);
  --color-sidebar-accent: var(--color-neutral-100);
  --color-sidebar-accent-foreground: hsl(240 5.9% 10%);
  --color-sidebar-border: hsl(220 13% 91%);
  --color-sidebar-ring: hsl(217.2 91.2% 59.8%);
}

@layer components {
  .responsive-text {
    @apply text-xs xs:text-sm;
  }
}

.dark {
  --color-sidebar: hsl(240 5.9% 10%);
  --color-sidebar-foreground: hsl(240 4.8% 95.9%);
  --color-sidebar-primary: hsl(224.3 76.3% 48%);
  --color-sidebar-primary-foreground: hsl(0 0% 100%);
  --color-sidebar-accent: hsl(240 3.7% 15.9%);
  --color-sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --color-sidebar-border: hsl(240 3.7% 15.9%);
  --color-sidebar-ring: hsl(217.2 91.2% 59.8%);
}

.message-block {
  ol {
    list-style: inside;
    list-style-type: decimal;
  }
  ul {
    list-style: inside;
    > li {
      > p {
        display: inline;
      }
    }
  }
}
